.toolbar-tray .toolbar-icon.toolbar-icon-entity-entity-view-steps-collection.is-active:before {
  background-image: url("../images/svg/000000/steps.svg");
}

.toolbar-tray .toolbar-icon.toolbar-icon-entity-entity-view-steps-collection:before {
  background-image: url("../images/svg/787878/steps.svg");
}

