<div class="action-wrapper">
  {% if previous %}
    <a class="btn btn-quaternary" href="{{ path('entity.entity_view_steps.step.canonical', {'entity_view_steps': entity_view_steps.id.value, 'step': previous.id}) }}">{{ 'Previous'|t }}</a>
  {% endif %}
  {% if next %}
    <a class="btn btn-secondary" href="{{ path('entity.entity_view_steps.step.canonical', {'entity_view_steps': entity_view_steps.id.value, 'step': next.id}) }}">{{ 'Next'|t }}</a>
  {% endif %}
</div>
