{#
/**
 * @file entity_view_steps.html.twig
 * Default theme implementation to present Entity view steps data.
 *
 * This template is used when viewing Entity view steps pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_entity_view_steps()
 *
 * @ingroup themeable
 */
#}

<div{{ attributes.addClass('entity_view_steps') }}>
  <header class="articleHead articleHead--progress">
    <div class="container-fluid">
      <div class="col-inner-8">
        <h2 class="subtitle h3">{{ entity_view_steps_step.type.entity.label }} </h2>
        <h1 class="title">{{ entity_view_steps_step.label }}</h1>
        {% if progress_bar %}
          {{- progress_bar -}}
        {% endif %}
      </div>
    </div>
  </header>

  {% if content %}
    {{- content -}}
  {% endif %}
</div>
