<div class="progress-bar">
  <ul class="progress-bar__tracker progress-tracker progress-tracker--center">
    {% for step in steps %}
      <li class="progress-step {% if step.id == current_step.id %}is-active{% endif %}">
        <a href="{{ path('entity.entity_view_steps.step.canonical', {'entity_view_steps': entity_view_steps.id.value, 'step': step.id}) }}">
        </a>
      </li>
    {% endfor %}
  </ul>
  <div class="progress-bar__status">
    <span class="progress-bar__summary">{{ current_position }} / {{ steps|length }}</span>
  </div>
</div>
