<div class="layout-entity-view-steps-form clearfix">
  <div class="layout-region layout-region-entity-view-steps-main">
    {{ form|without('advanced', 'footer', 'actions') }}
  </div>
  <div class="layout-region layout-region-entity-view-steps-secondary">
    {{ form.advanced }}
  </div>
  <div class="layout-region layout-region-entity-view-steps-footer">
    <div class="layout-region-entity-view-steps-footer__content">
      {{ form.footer }}
      {{ form.actions }}
    </div>
  </div>
</div>
